.wrapper{
  margin: 0;
  padding: 0;
  }
  .side-bar{
    width: 300px;
    height: 100vh;
    background-color: $deep-dark-blue;
    color: $white;
    float: left;
    &__header{
      height: 100px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      &__box{
        height: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        &__user-name{
          color:$white;
          font-size: 16px;
          font-weight: bold;
          }
        &__menu{
          width: 60px;
          text-align: right;
          &__icon{
            color:$white;
          }
        }
      }
    }
    &__groups{
      height: calc(100% - 100px);
      background-color: $dark-blue;
      padding: 20px 20px 0;
      font-weight: bold;
      color: $white;
      .group-link{
        text-decoration: none;
      }
      &__group{
        width: 100%;
        margin-bottom: 40px;

        &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
         color: $white;
        }
        &__latest-message{
          font-size: 11px;
          color: $white;
    }
      }
    }
  }
  
  .chat{
    width: calc(100vw - 300px);
    background-color: $white;
    float: left;
    &__main-header{
      height: 100px;
      border-bottom:solid 1px $white-e;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      &__left-box{
        margin-top: 35px;
        &__current-group{
          font-size: 20px;
          color: $gray-3;
          margin-bottom: 15px;
        }
        &__member-list{
          display: flex;
          font-size: 12px;
          color: $gray-9;
        }
      }
      .edit-link{
        text-decoration: none;
      }
      &__edit-btn{
        height: 40px;
        width: 72px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        font-size: 16px;
        border: solid 1px $pale-blue;
        color: $pale-blue;
      }
    }
    &__messages{
      height: calc(100vh - 190px);
      background-color: $white-fa;
      padding: 46px 40px;
      overflow: scroll;
      &__message{
        padding-bottom: 40px;
        &__upper-info{
          display: flex;
          margin-bottom: 10px;
          &__talker{
            color: $gray-3;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: $gray-9;
            font-size: 12px;
          }
        }
        &__text{
          color: $black-43;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
    &__form{
      height: 90px;
      padding: 20px 40px;
      background-color: $gray-d2;
      &__new-message{
        display: flex;
        height: 50px;
        width: 100%;
        line-height: 50px;
        &__input-box{
          display: flex;
          height: 50px;
          background-color:$white;
          padding: 0 40px 0 10px;
          position: relative;
          width: 100%;
          &__text{
            height: 50px;
            width: 100%;
            color: $black-43;
            border-style: none;
          }
          &__image{
            position: absolute;
            right: 10px;
            font-size: 1.3rem;
            input{
              display:none;
            }
          }
        }
        &__btn{
          height: 50px;
          background-color: $pale-blue;
          color:$white;
          padding: 0 30px;
          margin-left: 15px;
        }
      }
    }
  }